################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/dotNetCodeDemos/.vs/dotNetCodeDemos/FileContentIndex/3a090c47-af6a-4f0e-a8ac-a8003839d314.vsidx
/dotNetCodeDemos/.vs/dotNetCodeDemos/FileContentIndex
/dotNetCodeDemos/.vs/dotNetCodeDemos/DesignTimeBuild/.dtbcache.v2
