@model KnowledgeHubPortal.Domain.Entities.Category
<div class="container mt-5">
    <h2 class="mb-4">Create New Category</h2>



    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@

    <form asp-action="Save" asp-controller="Categories" method="post">

        @Html.ValidationSummary()
        <div class="mb-3">
            <label for="categoryName" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="Name" asp-for="Name" placeholder="Enter category name">
            <span asp-validation-for="Name" class="text-danger"></span>
            @*@Html.ValidationMessageFor(m=>m.Name)*@
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" id="description" asp-for="Description" rows="4" placeholder="Enter description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section Scripts
{ 
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

